
<div class="row g-2 mb-3">
  <div class="col-md-4">
  <input type="text" [(ngModel)]="search" placeholder="Search title" class="form-control" />
  </div>
  <div class="col-md-4">
  <select [(ngModel)]="status" class="form-select">
    <option [ngValue]="undefined">All Statuses</option>
    <option [ngValue]="1">Todo</option>
    <option [ngValue]="2">In Progress</option>
    <option [ngValue]="3">Completed</option>
  </select>
</div>
 <div class="col-md-4">
  <select [(ngModel)]="assigneeId" class="form-select">
    <option value="">All Assignees</option>
    <option *ngFor="let u of users" [value]="u.id">{{ u.name }}</option>
  </select>
</div>

</div>
<div  class="d-flex justify-content-center gap-2">
  <button (click)="load()" class="btn btn-sm btn-primary">Load</button>
  <button (click)="clearFilters()" class="btn btn-outline-secondary">Clear</button>
  
</div>
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>
<div><a routerLink="/tasks/new" class="btn btn-success">Add New Task</a> </div>
<div class="mt-4">
  <div class="table-responsive">
   <table *ngIf="!loading && tasks.length" class="table table-striped table-hover table-bordered align-middle">
    <thead class="table-dark">
     <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Assignee</th>
      <th>Due</th>
      <th></th>
     </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tasks">
      <td><a [routerLink]="['/tasks', t.id]">{{ t.title }}</a></td>
      <td>{{ TaskStatus[t.status] }}</td>
      <td>{{ Priority[t.priority] }}</td>
      <td>{{ getAssignedUserName(t.assignedUserId) | async }}</td>
      <td>{{ t.dueDate | date:'mediumDate' }}</td>
      <td class="align-middle">
        <div class="d-flex justify-content-center gap-3">
          <button (click)="delete(t)" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
<p *ngIf="!loading && !tasks.length">No tasks yet.</p>
